# Intellij
.idea
*.iml
*.ipr

# Node
dist
node_modules

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

.env
dist
.DS_Store
javascript/vendors*.js
javascript/*_jsx.js
javascript/remote.js
javascript/_yarn*
javascript/client/remote.js
solid-template-v*
npm-solid-react-templateset-v*
